* {
    font-family: 'Architects Daughter', cursive;
}

.ingredientImg,
.recipeImg {
    height: 200px;
    width: auto;
}

.ingredient {
    display: inline-block;
    height: 500px;
    padding: 1em;
    text-align: center;
}

.quantity {
    width: 49%;
}

.deleteIngredient {
    width: 100%;
}

h2 {
    text-align: center;
}

.imageDiv {
    height: 400px;
}

.titleDiv {
    height: 100px;
}

.dateInput {
    color: darkgray;
}

.recipes {
    text-align: center;
}

.recipes > div > form > input {
    margin: 10px;
}

.recipe {
    background-color: rgba(225, 225, 225, .5);
    height: 500px;
}

.recipe {
    text-align: center;
    border: solid black 2px;
}

.home {
    margin-top: 100px;
}
